# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Build outputs
dist/
build/
!**/src/build/
.next/
out/
storybook-static/

# Misc
.DS_Store
*.pem
.env*.local
.turbo
.changeset/*.md
!.changeset/README.md

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
